* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 10px;
}
.title {
  margin: 20px 10px 10px;
}
.container {
  position: relative;
  width: 70%;
  height: 10vh;
  margin: 0 auto;
  border: 1px solid #111;
}
.container .heading {
  text-align: left;
  padding: 10px;
}
.container .addBtn {
  position: absolute;
  padding: 10px;
  top: 15%;
  right: 2%;
}
.table-container {
  width: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

td,
th {
  border: 1px solid #111;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background: #eee;
}
tr:nth-child(odd) {
  background: #fff;
}
.editBtn {
  width: 45%;
  padding: 5px;
  text-align: center;
}
.deleteBtn {
  width: 45%;
  padding: 5px;
  text-align: center;
}
.container .pagination {
  width: 5%;
  height: 30px;
  margin-bottom: 20px;
}
.form-container {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #111;
}
label.form-label {
  display: block;
  width: 100%;
  text-align: left;
  margin: 10px;
}
label.form-label span.required-mark {
  color: #ff0000;
}
input.form-input {
  display: block;
  width: 100%;
  height: 30px;
}
.submitBtn {
  width: 20%;
  height: 40px;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: 8vh;
  }
  .table-container {
    display: block;
    overflow: auto;
  }
  .editBtn {
    width: 100%;
  }
  .deleteBtn {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 6vh;
  }
  .table-container {
    display: block;
    overflow: auto;
  }
  .editBtn {
    width: 100%;
  }
  .deleteBtn {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 7vh;
  }
  .container .pagination {
    width: 10%;
  }
}
